* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color:blueviolet ;
    height: 70px;
}

.conteiner {
    width: 80%;
    margin: auto;
}

.foto-testo {
    height: 300px;
    background-color: burlywood;
    margin: 20px 0;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

#sezione-blue {
    background-color: darkturquoise;
}

.widgettop {
    height: 50px;
    background-color: #6495ed;
}

.row {
    width: 100%;
    margin-top: 20px;
}

.widget {
    height: 300px;
    float: left;
    width: 25%;
    background-color: #6495ed;
}


.center {
    width: 44%;
    margin: 0 3%;
}

.right {
    
}

footer {
    height: 50px;
    background-color: darkorchid;
    margin-top: 10px ;
}